.idea
target
src/main/antlr4/gen/
.DS_Store
src/.DS_Store
src/main/.DS_Store
MovaTest.class
MovaTest2.class
MovaTest3.class
ConditionalTests.class
ConditionalTests2.class
src/main/java/smthelusive/mova/Test.java
gen/