.idea
target
src/main/antlr4/gen/
.DS_Store
src/.DS_Store
src/main/.DS_Store
1_ExpressionTests.class
2_ExpressionsIncDecStringOperations.class
3_IncrementDecrement.class
4_Conditionals.class
5_ConditionalsDecimalNestedElse.mova
6_Loops.class
src/main/java/smthelusive/mova/Test.java
gen/